
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
        const options = {
            "key": "{{ razorpay_key }}",
            "amount": {{ amount }},
            "currency": "INR",
            "name": "CycleKart",
            "description": "Order Payment for {{ order.order_id }}",
            "order_id": "{{ razorpay_order.id }}",

            "handler": function (response) {
                fetch("{% url 'payment_handler' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature,
                        order_id: "{{ order.id }}"
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if (data.status === "success") {
                        window.location.replace(data.redirect_url);
                    } else {
                        window.location.replace("{% url 'payment_failed' %}");
                    }
                })
                .catch(() => {
                    window.location.replace("{% url 'payment_failed' %}");
                });
            },

            "modal": {
                "ondismiss": function() {
                    window.location.replace("{% url 'payment_failed' %}");
                }
            },

            "theme": {
                "color": "#3399cc"
            }
        };

        const rzp = new Razorpay(options);

        rzp.on('payment.failed', function () {
            window.location.replace("{% url 'payment_failed' %}");
        });

        rzp.open();
    </script>

