{% extends 'header.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="bg-gray-100 py-10 px-6">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-10">
    <!-- Left Text -->
    <div class="md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to CycleKart</h1>
      <p class="text-gray-600 text-lg mb-6">Explore our premium collection of bicycles. Find your perfect ride today!
      </p>
      <a href="{% url 'userproduct_list'  %}" class="inline-block bg-blue-700 text-white py-2 px-5 rounded hover:bg-blue-800 transition">Shop
        Now</a>
    </div>
    <!-- Right Image -->
    <div class="md:w-1/2 text-center">
      <img src="{% static 'images/back.png' %}" alt="CycleKart Banner" class="w-80 h-80 mx-auto object-contain"
        onerror="this.style.display='none'">
    </div>
  </div>
</section>

<!-- Featured Products Section -->
<section class="py-10 bg-white">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-2xl font-semibold text-gray-800 text-center mb-6">Featured Products</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      {% for product in featured_products %}
      <div class="text-center p-4 bg-gray-50 rounded-lg shadow item-center">
        {% if product.thumbnail %}
        <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" class="w-50 h-48 object-contain mx-auto mb-4"
          onerror="this.style.display='none'">
        {% else %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center rounded-t-lg mb-4">No Image</div>
        {% endif %}
        <h3 class="text-lg font-medium text-gray-700">{{ product.name }}</h3>
        <p class="text-sm text-gray-500 mt-2">Price: ${{ product.price }}</p>
      </div>
      {% empty %}
      <p class="text-center text-gray-600">No featured products right now.</p>
      {% endfor %}

    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="py-10 bg-green-600 text-white text-center">
  <h2 class="text-2xl font-semibold mb-4">Start Your Cycling Adventure!</h2>
  <p class="text-lg mb-6">Discover eco-friendly rides for health and travel.</p>
  <a href="{% url 'userproduct_list'  %}" class="inline-block bg-white text-green-600 py-2 px-5 rounded hover:bg-gray-200 transition">Explore
    Now</a>
</section>

{% endblock content %}